
<a href="/Home/Index">Back to List</a>

<h2>Donut Details:</h2>

<h4>Name: @ViewBag.Name</h4>
<h4>Calories:@ViewBag.Calories</h4>
<h4>Extras:</h4>
<ul>
    @foreach (var e in ViewBag.Extras)
    {
        <li>@e</li>
    }
</ul>

